/*import google font*/
/*
    font-family: 'Noto Sans KR', sans-serif;로 사용하시면 됩니당!
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

:root {
    --background-color : #141414;
    --font-color : yellow;
}

body {
    width: 1520px;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--background-color);
}

footer {
    border: 1px solid var(--font-color);
}


