@import url('common.css');
@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

/*header 부분 css*/
.top-navigator {
    display: flex;
    width: 100vw;
    position: fixed;
    background-color: var(--background-color);
    border-bottom: 1px;
    padding: 30px 50px 30px 50px;
    z-index: 50;
    top:0;
    border-bottom: 1px solid var(--font-color);
    /*for test*/
    /*border: 3px solid red;*/
}

.logo {
    width: 200px;
    height: 80px;

    /*for test*/
    /*border: 3px solid blue;*/
}

.list {
    display: flex;
    width: 40vw;
    padding-top: 10px;
    justify-content: space-around;
    /*for test*/
    /*border: 3px solid white;*/

}

.nav-element {
    color: var(--font-color);
    font-size: xx-large;
    text-decoration: none;
}

.nav-element:hover {
    color: white;
    font-weight: bolder;
}

/*carousel 부분 css*/
.main{
    /* padding-top: 80px; */
    color: var(--font-color);
    margin-top: 150px;
    background-color: var(--background-color);
}


/*기사 읽는 부분 css*/
.today-news {
    margin:100px 50px 100px 50px;
    font-size: 40px;
}

.article-player-subject-list {
    display: flex;
    justify-content: space-around;

    margin: 20px 50px 20px 50px;
    padding: 5px 50px 5px 50px;
    border: 2px solid var(--font-color);
    border-radius: 40px/40px;
}

.article-player-subject {
    margin: 20px 0px 20px 0px;
    font-size: 35px;
}

.article-player-subject:hover {
    color:white;
    font-weight: bolder;
}

:root {
    --primary: #7159c1;
}

#player {
    background-color: var(--background-color);
    padding: 20px 50px 30px 50px;
    border: 2px solid var(--font-color);
    border-radius: 40px/40px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin: 0px 50px 0px 50px;
}

.card-image {
    background: url("https://placehold.it/500") no-repeat center center / cover;
    height: 200px;
}

audio {
    width: 100%;
    margin-top: 30px;
}

#play-pause {
    background-color: var(--primary);
    width: 350px;
    height: 150px;
}

#mute {
    width:110px;
    height: 150px;
    font-size: 100px;
    padding-top: 25px;
    color: var(--primary);
    transform: translateY(2px);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: yellow;
    border: 1px solid yellow;
    border-radius: 20px/20px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: yellow;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: blueviolet;
    cursor: pointer;
    height: 125%; width: 32px; margin-top: -14px; border-radius: 3px; }

.first-row-of-player {
    display: flex;
}

.second-row-of-player {
    display:flex;
}

.duration {
    display: flex;
    position:absolute;
    color:black;
    width: 100%;
    height: 100px;
    text-align: top;
    font-size:80px;
    padding-top: 20px;
    padding-left: 1100px;
    text-align: center;
}

.article-name {
    position:absolute;
    width: 1300px;
    height: 100px;
    margin:0;
    color: black;
    text-align: top;
    font-size:80px;
}

#specific-article-name {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top:40px;
    padding-left: 40px;
    margin: 0;
}

.range-field {
    width: 100%;  
}

#vol-control {
    width: 300px;
    height: 150px;
    border: 0px;
}

.control-button {
    width: 250px;
    height: 150px;
    margin-top: 15px;
    margin-right: 15px;
    border: 2px solid var(--font-color);
    border-radius: 20px/20px;
}

.space {
    width: 100%;
    height: 150px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--font-color);
}

.links {
    width: 100%;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--background-color);
}

.link {
    margin: 10px;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 40px;
    padding: 5%;
    border-bottom: 1px solid var(--font-color);
}

.main_container .item{
    padding: 80px 0px 80px 0px;
}

.main_container .item .item-link{
    color: var(--font-color);
    text-decoration: none;
}
.main_container .item .item-link:hover{
    color: white; 
    font-weight: bolder;
}

#seekbar{
    position: relative;
    border:none;
    height: 150px;
}
