* {-webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  position:relative;
} /* Box sizing. Thanks Chris Coyier! */
body {
  background:#090909;}
.timeline {
  font:normal bold 16px/1.6rem "Open Sans Condensed";
  padding:1rem;
}
.timeline .circle {
  background:#aaa;
  border:.5rem solid #666;
  border-radius:100%;
  height:2.25rem;
  margin:auto;
  width:2.25rem;
  vertical-align:middle;
}
.timeline ul {
  margin:0;
  padding:0;
}
.step{
  color: yellow;
}
.manual{
  font-size: 125%;
}
.timeline em {
  color:#white;
  display:block;
  font-weight:bold;
}
.timeline li {
  border:0 solid #aaa;
  color:#fff ;
  font-family:"Open Sans";
  list-style-type:none;
  text-transform:uppercase;
  padding:1rem 2rem;
  width:calc(50% + 1px);}
.timeline li:after {background:#aaa;border-radius:100%;content:"";display:inline-block;height:1rem;position:absolute;right:calc(-.5rem - 1px);width:1rem;}
.timeline li:nth-child(even):after {left:calc(-.5rem - 1px);}
.timeline li:nth-child(odd) {border-right-width:2px;text-align:right;}
.timeline li:nth-child(even) {border-left-width:2px;left:calc(50% - 1px);}
